body {
    background-color: black !important;
    font-family: Arial, sans-serif;
    margin: 0;
    /* width: 100%;
    position: relative; */
}


main {
    background-color: black;
    padding: 20px;
}

.publicar {
    color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
}

.publicar i{
    color:aliceblue;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    /* color: transparent; */
}

textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 800px !important;
    height: 100px !important;
    object-fit: cover;
}


.comentariobox{
    max-width: 100% !important;
    align-items: center;
    background-size: cover;
    display: flex;
}


button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border:none;
    cursor: pointer;
    align-self: center;

}

/* button:hover {
    background-color: #555;
} */

#dropArea{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed rgb(125, 126, 128);
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    cursor: pointer;
    display: flex;
}

#imagePreview{
    margin-top: 10px;
    margin-bottom: 10px; 
}

#imagePreview{
    max-width: 50%;
    max-height: 50px;
}

.Arrastra{
    color: aliceblue;
}

.espaciado{
    margin-bottom: 10px ;
    margin-top: 10px ;
}

.boton-publicar{
    justify-content: center;
    align-items: center;
    display: flex;
    
}