body {
    background-color: black !important;
    font-family: Arial, sans-serif;
    margin: 0;
    /* width: 100%;
    position: relative; */
}


main {
    background-color: black;
    padding: 20px;
}

.publicar {
    color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
}

.publicar i{
    color:aliceblue;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    /* color: transparent; */
}

textarea {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 800px !important;
    height: 100px !important;
    object-fit: cover;
}


.comentariobox{
    max-width: 100% !important;
    align-items: center;
    background-size: cover;
    display: flex;
}


button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border:none;
    cursor: pointer;
    align-self: center;

}

/* button:hover {
    background-color: #555;
} */

/* #dropArea{
    margin-top: 200px;
    margin-bottom: 20px;
    border: 2px dashed rgb(125, 126, 128);
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
} */
/* 
#imagePreview{
    margin-top: 100px;
    margin-bottom: 100px; 
}

#imagePreview{
    max-width: 500px;
    max-height: 500px;
}

.Arrastra{
    color: aliceblue;
} */

.espaciado{
    margin-bottom: 5px ;
    margin-top: 5px ;
}

.boton-publicar{
    justify-content: center;
    align-items: center;
    display: flex;
    
}

/*desde aquí van cosas de código nuevo 15-05-2024 svp*/

.form-file {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
}

.form-file_action {
    width: 100%;
}

.form-file_result--active {
    background-color: rgba(82,81,79, 0.314);
}

.form-file_action input {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.form-file_result {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 300px;
    background-color: #f2f0f0;
    border-radius: 8px;
    border: 1px dashed #609dd6;
    transition: bacground-color 0.3s linear;
    z-index: 10;
}



.form-file_result::after{
    content: 'Clic para elegir imagen.';
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #609dd6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.form-file_result img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}

.form-file_result--active {
    background-color: rgba(82,81,79, 0.314);
}

.form-file_result--hidden::after{
    opacity: 0;
}
